# Global defaults for ShadowSwap tooling
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json
SHADOWSWAP_PROGRAM_ID=5Lg1BzRkhUPkcEVaBK8wbfpPcYf7PZdSVqRnoBv597wt
SHADOWSWAP_ORDER_BOOK=FWSgsP1rt8jQT3MXNQyyXfgpks1mDQCFZz25ZktuuJg8
SHADOWSWAP_BASE_MINT=So11111111111111111111111111111111111111112
SHADOWSWAP_QUOTE_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
